
<md-toolbar class="md-primary" md-scroll-shrink style="margin-top:64px;z-index:100">
  <h2 class="md-toolbar-tools">
    <span flex>Favoris</span>
    <md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshMatchs()">
        <i class="fa fa-refresh"></i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Refresh" ng-click="toggleFilter()">
        <i class="fa fa-filter"></i>
    </md-button>
  </h2>
</md-toolbar>
<div ng-include="'components/match/match-list.html'" style="width:100%"></div>
