<md-content style="width:100%">
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="match in matchs | filter:search" style="margin:0px;padding:0px">
      <div class="md-list-item-text" style="margin:0px;padding:0px">
        <md-card style="margin:4px 8px 4px 8px">
          <md-button href="/live/{{match._id}}" style="margin:0px;padding:7px">
            <div layout="row">
              <div flex="30" flex-sm="25">
                <img ng-src="assets/images/default_rencontre.png" class="tt-img-rencontre">
              </div>
              <div flex="70" flex-sm="75" >
                <md-card-content style="padding:0px;" layout layout-sm="column">
                  <section flex="100" style="font-size:0.8em; margin-bottom:5px">
                    <span class="label label-primary pull-right" style="margin-right:3px" ng-if="match.active">live</span>
                    <span class="label label-info pull-right" style="margin-right:3px" ng-if="match.journee">J-{{match.journee}}</span>
                    <span class="label label-info pull-right" style="margin-right:3px" ng-if="match.poule">P-{{match.poule}}</span>
                    <span class="label label-info pull-right" style="margin-right:3px" ng-if="match.division">{{match.division}}</span>
                    <span class="label label-info pull-right" style="margin-right:3px">{{match.comments.length}} <i class="fa fa-comment"></i></span>
                    <span class="label label-info pull-right" style="margin-right:3px">Le {{match.date | date:'dd-MM-yyyy'}} par {{match.author.username}}</span>
                  </section>
                  <section flex="100">
                    <p class="tt-score">{{ match.team.dom.name }}  <strong>({{ match.team.dom.score }} - {{ match.team.ext.score }})</strong>
                     {{ match.team.ext.name }}</p>
                  </section>
                  <h4 class="tt-match-list-name"> {{ match.name }} </h4>
                </md-card-content>
              </div>
            </div>
          </md-button>
        </md-card>
      </div>
    </md-list-item>
  </md-list>
</md-content>