<div class="container">
  <div ng-include="'components/navbar/sidebar.html'"></div>
  <div class="col-sm-12 text-center">
    <h1>Connexion</h1>
  </div>
  <form class="form tt-login-form" name="form" ng-submit="form.$valid && login(form)" novalidate>
    <div class="form-group has-error">
      <p class="help-block">{{ errors.other }}</p>
    </div>
    <md-content layout-padding class="autoScroll">
      <div style="height:10px"></div>
      <md-input-container class="md-icon-float" ng-class="{ 'has-success': form.username.$valid && form.$submitted,
                                              'has-error': form.username.$invalid && form.$submitted }">
        <label>Pseudo</label>
        <md-icon class="fa fa-user fa-2x"></md-icon>
        <input ng-model="user.username" required name="username" type="text">
      </md-input-container>
      <div class="form-group has-error">
        <p class="help-block" ng-show="form.username.$error.required && form.password.$error.required && form.$submitted">
           Merci de renseigner un pseudonyme et un mot de passe.
        </p>
        <p class="help-block" ng-show="form.username.$username.email && form.$submitted">
           Merci de renseigner un pseudonyme valide.
        </p>
      </div>
      <md-input-container class="md-icon-float" ng-class="{ 'has-success': form.password.$valid && form.$submitted,
                                              'has-error': form.password.$invalid && form.$submitted }"s >
        <label>Mot de passe</label>
        <md-icon class="fa fa-key fa-2x"></md-icon>
        <input ng-model="user.password" required name="password" type="password">
      </md-input-container>
      <div class="form-group has-error">
        <p class="help-block" ng-show="form.password.$error.required && form.$submitted">
          Un mot de passe est requis
        </p>
      </div>
    </md-content>
    <section layout="row" layout-sm="row" layout-align="center center" style="margin-top:15px">
      <a class="md-primary" type="button" href="#/signup">S'enregistrer</a>
      <md-button style="margin-left:10px" class="md-raised md-primary" type="submit">Connexion</md-button>
    </section>
    <section layout="column" layout-sm="column" layout-align="center center" style="margin-top:15px">
      <a class="btn btn-facebook btn-social" href="" ng-click="loginOauth('facebook')">
        <i class="fa fa-facebook"></i> Connection avec Facebook
      </a>
      <a class="btn btn-google-plus btn-social" href="" ng-click="loginOauth('google')">
        <i class="fa fa-google-plus"></i> Connection avec Google+
      </a>
      <a class="btn btn-twitter btn-social" href="" ng-click="loginOauth('twitter')">
        <i class="fa fa-twitter"></i> Connection avec Twitter
      </a>
    </section>

    
  </form>
</div>