<md-content>
  <md-toolbar ng-controller="NavbarCtrl" style="position:fixed;z-index:102">
    <div class="md-toolbar-tools">
      <div class="navbar-header">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="togglesideNav()">
          <i class="fa fa-bars"></i>
        </md-button>
      </div>
      <ul class="nav navbar-nav" style="margin-left:15px">
        <li ng-class="{active: isActive('/')}">LIVE TT</li>
      </ul>
    </div>
<!--  <div>
        <ul class="nav navbar-nav">
          <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
              <a ng-href="{{item.link}}">{{item.title}}</a>
          </li>
          <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
          <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
          <li ng-show="isLoggedIn()"><p class="navbar-text"></p> </li>
          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
          <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
        </ul>
      </div> -->
  </md-toolbar>
</md-content>