<md-toolbar class="md-primary" md-scroll-shrink style="margin-top:64px;z-index:100">
  <h2 class="md-toolbar-tools">
    <span flex>Rencontres en live</span>
    <md-button class="md-icon-button" aria-label="Refresh" ng-click="refreshMatchs()">
        <i class="fa fa-refresh"></i>
    </md-button>
    <md-button class="md-icon-button" aria-label="Refresh" ng-click="toggleFilter()">
        <i class="fa fa-filter"></i>
    </md-button>
  </h2>
</md-toolbar>

<section layout="row" flex id="main">
  <div ng-include="'components/navbar/sidebar.html'"></div>
  <!-- Filter Side Nav Right -->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2 " md-component-id="filterMatchs" style="position:fixed;margin-top:64px">
    <md-toolbar class="md-theme-indigo tt-filterNav">
      <h1 class="md-toolbar-tools">Filtrer les Matchs</h1>
    </md-toolbar>
    <md-content layout-padding style="background-color:#FFF">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Titre</label>
          <input ng-model="search.name">
        </md-input-container>
      </div>
    </md-content>
    <md-content layout-padding style="background-color:#FFF">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Equipe à domicile</label>
          <input ng-model="search.team.dom.name">
        </md-input-container>
      </div>
    </md-content>
    <md-content layout-padding style="background-color:#FFF">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Equipe à l'extérieur</label>
          <input ng-model="search.team.ext.name">
        </md-input-container>
      </div>
    </md-content>
    <md-content layout-padding style="background-color:#FFF">
      <div layout layout-sm="column">
        <md-select placeholder="Division" ng-model="search.division">
          <option value=""></option>
          <md-option ng-repeat="div in divisions" value="{{div}}">{{div}}</md-option>
        </md-select>
      </div>
    </md-content>
  </md-sidenav>


  <div style="width:100%" ng-include="'components/match/match-list.html'"></div>
  <md-button class="tt-fab-button md-fab md-primary" href="/match/new" aria-label="New Match">
    <i class="fa fa-plus fa-lg"></i> 
  </md-button>
    <!-- <tour step="currentStep" class="tt-fab-button">
      <div tourtip="Commencer un live" >
    </tour> -->
</section>